Assignments {
    margin-bottom: 1;
}

Assignment>Label {
    padding: 1;
    width: 100%;
    text-align: center;
}

.list_header {
    width: 100%;
    padding: 2;
    text-align: center;
    text-style: bold;
}